<!Doctype html>
<html>
{% include "base.html" %}
<head>
    <style>
        body {
            text-align: center;
            background-image: url("fade.jpeg");
        }

        h1 {
            color: green;
        }

        #hr-line {
            width: 20%;
            margin-left: auto;
            margin-right: auto;
        }

        .para {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: justify;
        }
    </style>
</head>

<body>
    <h1>About Us</h1>

    <p class="para">Quastech is located in Thane, Mumbai &Navi Mumbai offers a top-quality learning experience within
        the areas of IT training. Quastech is that specialized in providing advanced training and certifications in
        complex Software and networking technologies.

        Quastech may be a world-class training institution focused on the newest project base Software and advanced
        Networking Technologies.

        Only the proper people can train on the proper topologies in technology, and that we have industry-leading
        experts who provide training and support. Quastechteam consists of highly qualified experts whom you’ll trust.
        Industry skill and knowledge can provide hands-on experience of performing on actual network infrastructure. we
        offer each student a singular learning experience of performing on the proper topologies with industry skills
        training & world experience. Our focus is on providing advanced training and certifications in complex
        networking technologies.</p>

    <br><br>

    <hr id="hr-line">

    <br><br>

    <h1>Quastech provides training as Follows :</h1>

    <p class="para">With certified professionals having excellent experience and skills. Quastech also can customize and
        structure the course which best fit your need as we believe that the right mixture of expertise.

        Training skills are the master key to providing excellent training to the students who all are part of Quastech
        as well as wanted to be a part of Quastech.</p>

</body>

</html>