{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h2>Please Login:</h2>
        <h3>(Must be superuser, please check with the site admin)</h3>

        {% if form.errors %}
            <p>Your username and password didn't match! Please try again.</p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
            <!-- This {{ next }} is for login which we have created in urls.py page means if user is login; than it will go to the next page for that purpose we have mentioned {{ next }} over here -->
        </form>
    </div>
{% endblock %}